<ion-header>
    <ion-toolbar>
        <ion-title>Adicionar Serviços</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formulario" method="post">
        <div class="service">
            <ion-item>

                <ion-label>Categoria
                </ion-label>
                <ion-select interface="action-sheet" formControlName="categoria" placeholder="">
                    <ion-select-option value="servico">Serviços Gerais</ion-select-option>
                    <ion-select-option value="taxi">Taxi</ion-select-option>
                    <ion-select-option value="teste">teste</ion-select-option>

                </ion-select>

            </ion-item>

            <p>
                <ion-item>
                    <ion-label position="floating">SubCategoria</ion-label>
                    <ion-input formControlName="subCategoria" name="subCategoria"></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating">Título</ion-label>
                    <ion-input formControlName="titulo" name=" titulo "></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating ">Descrição</ion-label>
                    <ion-input formControlName="descricao" name=" descricao "></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating ">Cidade</ion-label>
                    <ion-input formControlName="cidade" name=" cidade "></ion-input>
                </ion-item>
            </p>
            <ion-button (click)="salvarDados()"> Adicionar</ion-button>

        </div>
    </form>

</ion-content>