<!-- <ion-header>
    <ion-toolbar>
        <ion-title> login </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <form method="post" action="">
        <div class="login">
            <h1>Login</h1>
            <form #form="ngForm" (ngSubmit)="login(form)" method="post">
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input ngModel type="email" name="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input ngModel type="password" name="password"></ion-input>
                </ion-item>

                <br> <br>
                <ion-button type="submit" expand="full" color="primary">Login</ion-button>
            </form>

            <p class="link">
                Ainda não tem conta?
                <ion-icon name="person-add-outline" (click)="register()" class="icon"></ion-icon>
            </p>
            <br>
            <ion-button expand="full">
                <ion-icon name="logo-google"></ion-icon>
            </ion-button>

            <ion-button expand="full">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>

            <ion-button expand="full">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
        </div>
    </form>
</ion-content>