<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-button color="primary" (click)="navigateService()">Adicionar Serviços</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="always"></ion-searchbar>

    <ion-card>
        <div class="card-feed">
            <ion-card-header>
                <ion-card-title *ngFor="let c of servicos">{{c.titulo}}</ion-card-title>
                <ion-card *ngFor="let c of servicos">{{c.descricao}}</ion-card>
                <ion-card *ngFor="let c of servicos">{{c.categoria}}</ion-card>
                <ion-card *ngFor="let c of servicos">{{c.subcategoria}}</ion-card>
                <ion-card *ngFor="let c of servicos">{{c.Cidade_estado}}</ion-card>
                <ion-card *ngFor="let c of servicos">{{c.nome}}</ion-card>
                <ion-card *ngFor="let c of servicos">{{c.telefone}}</ion-card>
            </ion-card-header>
        </div>
    </ion-card>

</ion-content>