<ion-content>
    <div class="cadastro">


        <form method="post" action="">
            <h1>
                <ion-icon name="chevron-back-circle-outline" (click)="home()" class="icon"></ion-icon>
                Cadastro</h1>


            <p>
                <ion-item>
                    <ion-label position="floating" ngModel name="name">Nome</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating" type="email" ngModel name="email">E-mail</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </p>

            <p>
                <ion-item>
                    <ion-label position="floating" ngModel name="cpf">CPF</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating" ngModel name="telefone">Telefone</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating" ngModel name="senha">Senha</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </p>
            <p>
                <ion-item>
                    <ion-label position="floating" ngModel name="confirmarSenha">Confirmar Senha</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </p>
            <p>
                <input type="submit" value="Cadastrar" color="danger" (click)="register()" />
            </p>
            <p text-center></p>

        </form>
    </div>
</ion-content>